<!-- adminDashboard.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>adminDashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

</head>

<body>
  <div class="container mt-5">
    <div class="p-3 mb-2 text-white bg-dark">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user=> { %>
            <tr>

              <td>
                <%= user.id %>
              </td>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= user.email %>
              </td>


              <td>
                <button type="button" class="btn btn-warning btn-sm mt-2">
                  <a href="/todo?userId=<%= user.id %>">Add Task</a>

                </button>
              </td>

            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>